#overlay{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    height: 100vh;
    width: 100%;
    z-index: 5;
}

#pokemon-overlay{
    height: 80vh;
    width: 70%;
    background-color: #EEFCE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 50px 50px;
    border: 2px solid black;
    border-top: 0;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

#close-button{
   width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-bottom: 0;
    border-radius:  50px 50px 0 0;
    text-align: end;
    background-color: #808080;
}

#close-button h2{
    color: white;
    font-weight: bold;
}

#close-button img{
filter: drop-shadow(1px 1px 1px black);
margin: 20px;
}

#close-button img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 75ms;
}

#sprites{
    padding-top: 32px;
    height: 400px;
    width: 100%;
    text-align: center;
}

#sprites img{
    height: 300px;
    aspect-ratio: 4/3;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.722));
}

nav{width: 100%;
}

.nav-link{
    color: black !important;
}

.nav-link:hover {
    background-color: wheat;
    cursor: pointer;
}

#poke-info{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.pokeInfoText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokeInfoText h5{
    margin-right: 100px;
}

table{
    overflow:scroll;
}

#stats{
    text-align: center;
}

td{
padding-left: 20px;
padding-bottom: 10px;
}

th{
    padding-left: 20px;
    padding-bottom: 5px;
    }
    
.progress{
    width: 255px;
    border: 0.5px solid black;
}

#evo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 32px;
}

.arrow-evo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-evo img{
    margin-bottom: 20px;
}

.evo-img img{
    height: 120px;
    aspect-ratio: 4/3;
}


@media(max-width: 1000px){
    .evo-img img{
        height: 90px;
    }
    #evo-container{
        gap: 10px;
    }
}

@media(max-width: 800px){
    .d-none-800px {
        display: none !important;
    }
    #evo-container{
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #pokemon-overlay{
        height: 95vh;
        overflow: hidden scroll;
    }

    /* Scrollbar track */
#pokemon-overlay::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar color */
#pokemon-overlay::-webkit-scrollbar-thumb {
    background-color: #7c7b7b; /* Color of the scroll thumb */
    border-radius: 20px; /* Rounded edges for the thumb */
}

/* Scrollbar track color */
#pokemon-overlay::-webkit-scrollbar-track {
    background-color: #606060; /* Background of the scrollbar track */
    border-radius: 10px;
}
#pokemon-overlay::-webkit-scrollbar-button:vertical:end {
    background-color: #7c7b7b00; /* Farbe des Buttons */
    height: 30px; /* Höhe des Buttons */
    border-radius: 0 0 10px 10px; /* Abgerundete Kanten unten */
}
/* Hover effect on scrollbar thumb */
#pokemon-overlay::-webkit-scrollbar-thumb:hover {
    background-color: #3b3b3b; /* Darker color when hovered */
    cursor: grab;
}
#pokemon-overlay::-webkit-scrollbar-thumb:active{
    background-color: #292929; /* Darker color when hovered */
    cursor: grabbing;
}

}
